@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Martel&display=swap');

body {
    width: auto; 
    margin: auto;
    background-color: #EAE3D2;
}

h1, h2, p {
    color: #1C3879;
}

h1, h2 {
    font-family: 'Cabin', sans-serif;
}

p {
    font-family: 'Martel', serif;
}

#buttons {
    font-size: large;
    margin: auto;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
}

button {
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: #607EAA;
    padding: 12px 17px;
}

button[disabled] {
    background-color: lightgrey;
}

button[aria-pressed="true"] {
    background-color: green;
}

#output, body p {
    margin: 0 auto;
    text-align: center;
}

#main {
    position: relative;
    top: 50%;
    background-color: #F9F5EB;
    width: 80%;
    border-radius: 15px;
    margin: auto;
}

@media only screen and (max-width: 425px) { /*Mobile query*/
    body {
        width: 100%;
        margin: auto;
    }
    
    #buttons {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
}
